{%extends 'base.html'%}
{% load static %}
{%block content%}
  <!-- ABOUT PAGE CONTENT -->
  <section class="about-section">
    <h1 class="page-title">Meet the Developers</h1>
    <p class="page-subtitle">The team behind NourishNet platform</p>

    <!-- Placeholder for Team/Website Image -->
    <img src="" alt="About Our Team" class="about-team-img">

    <div class="developer-grid">

      <!-- DEV 1 -->
      <div class="dev-card">
        <img src="https://picsum.photos/300/300?random=101" class="dev-img">
        <h2>Daksh Prajapti</h2>
        <p>Frontend Developer • UI/UX Designer</p>
        <p>Passionate about creating modern, clean, and responsive website UI.</p>
        <p>Email : dakshprajrati@gmail.com</p>
      </div>

      <!-- DEV 2 -->
      <div class="dev-card">
        <img src="https://picsum.photos/300/300?random=102" class="dev-img">
        <h2>Rishi Sukhadiya</h2>
        <p>Backend Developer • Database Engineer</p>
        <p>Focused on building scalable and secure server logic for NGOs.</p>
        <p>Email : dakshprajrati@gmail.com</p>
      </div>

      <!-- DEV 3 -->
      <div class="dev-card">
        <img src="https://picsum.photos/300/300?random=103" class="dev-img">
        <h2>Krenil Radhadiya</h2>
        <p>Full Stack Developer • API Integration</p>
        <p>Works on connecting real-world NGO data with the website interface.</p>
        <p>Email : dakshprajrati@gmail.com</p>
      </div>
      <!-- DEV 4 -->
      <div class="dev-card">
        <img src="https://picsum.photos/300/300?random=104" class="dev-img">
        <h2>Het Prajapati</h2>
        <p>Full Stack Developer • API Integration</p>
        <p>Works on connecting real-world NGO data with the website interface.</p>
        <p>Email : dakshprajrati@gmail.com</p>
      </div>

    </div>
  </section>
{%endblock%}