{%extends 'base.html'%}
{%load static%}
{%block content%}
  <section>
    <div class="login">
      <form action="login_success.html" method="post" class="login_form">
        <h1 class="login_title">Login</h1>

        <div class="login__inputs">
          <div class="login__box">
            <label for="email" class="login_email">EMail Id:</label>
            <input class="login_email" type="email" name="email" id="email" placeholder="Enter EMail" required />
          </div>

          <div class="login__box">
            <label for="password" class="login_password">Password:</label>
            <input class="login_password" type="password" name="password" id="password" placeholder="password" required />
          </div>
        </div>

        <div class="login__check">
          <div class="login__check-box">
            <input type="checkbox" name="remember" id="user-check" class="login__check-input" />
            <label for="user-check" class="login__check-label">Remember Me</label>
          </div>
          <a href="#" class="login__forgot">Forgot Password?</a>
        </div>

        <button type="submit" class="login__button">Login</button>

        <div class="login__register">
          Don't have an account?
          <a href="register_ngo.html">Register.</a>
        </div>
      </form>
    </div>
  </section>
{%endblock%}