{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br><br>

<div class="pickup">
    <h2>Pickup Confirmation</h2>
</div>
  


<div class="grid">
  <div class="card">
    <h3>Pickup ID</h3>
    <p id="pid"></p>
    <p>Arrival Time: <b>25 minutes</b></p>
  </div>

  <div class="card">
    <h3>Pickup Person</h3>
    <p>Name: Mohit Kumar</p>
    <p>Phone: 9XXXXXX123</p>
    <p>Vehicle: Bike</p>
  </div>
</div>
{% endblock %}
<!--<script>-->
<!--document.getElementById("pid").innerText =-->
<!--  "PK-" + localStorage.getItem("pickupId");-->
<!--</script>-->